/* Estilos generales */
* {
    margin: 0;
    padding: 0;
}

.body {
    color: rgb(15, 15, 105);
    font-family: 'Lato', sans-serif;
    line-height: initial;
}

.header .navbar .container-fluid .collapse .navbar-nav .nav-item .nav-link {
    color: rgb(15, 15, 105);
    font-weight: 700;
}

.videoDistri {
    padding-top: 30%; 
}

.videoDistri video {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.tituloVideo { 
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 10px 20px; 
    color: white; 
    font-family: 'Open Sans', sans-serif; 
}

/* Estilos para las marcas */
.subtituloDos {
    color: rgb(0, 0, 71);
    font-family: 'Lato', sans-serif;
}

.contenedorMarcas {
    width: 90%;
    margin: 50px auto;   
}

.parrafoSeccionMarcas {
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    color: gray;
}

/* Estilos para las zonas de distribución */
.divZona {
    margin-top: 70px;
}

.zonaDistriUno, .zonaDistriDos {
    list-style: none;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    color: rgb(15, 15, 105);
}

/* Estilos para la sección de la misión */
.seccionMision {
    width: 70%;
    display: flex;
    margin: 70px auto 50px auto;
}

.seccionMision .contenido {
    width: 50%;
    margin: auto;
}

.seccionMision .contenido .subtituloMision {
    font-size: 2rem;
    text-align: center;
    margin: 50px 0;
    color: rgb(0, 0, 71);
    font-family: 'Lato', sans-serif;
}

.seccionMision .contenido .parrafoMision {
    text-align: left;
    color: rgb(0, 0, 71);
    font-family: 'Lato', sans-serif;
}

.seccionMision .imagenMision {
    margin: auto;
}

/* Estilos para el pie de página */
.footer {
    width: 90%;
    margin-top: 100px;
}

.logoLincolnPie{
    width: 100px;
    height: 100px;
}

.logoQuilmesPie {
    width: 150px;
    height: 150px;
}
.footer .contenido-centro {
    margin-top: 45px;
    color: rgb(15, 15, 105);
    font-family: 'Lato', sans-serif;
    font-size: 0.8rem;
}

.cabecerasIguales {
    background-color: rgb(15, 15, 105);
    height: 200px;
}

.cabecerasIguales .tituloUno {
    padding: 10px 20px; 
    color: white; 
    font-family: 'Open Sans', sans-serif; 
    font-size: 3rem; 
    font-weight: 700;
}

.seccionMedia {
    width: 80%;
}

.seccionMedia .parrafoAnterior, .seccionMedia .parrafoPosterior {
    font-family: 'Lato', sans-serif;
    color: rgb(15, 15, 105);
}

.masInfo {
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    margin: 70px auto;
}

.masInfo .detalle {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: gray;
}

.masInfo .pGeneral {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 10px;
}
.container-fuid{
    max-width: 500px;
}
.custom-btn {
  background-color:rgb(15, 15, 105); /* Color de fondo del botón */
  border: none; /* Sin borde */
  color: white; /* Color del texto */
  padding: 10px 20px; /* Espaciado interior */
  text-align: center; /* Alineación del texto */
  text-decoration: none; /* Sin decoración de texto */
  display: inline-block; /* Mostrar como elemento en línea */
  font-size: 16px; /* Tamaño del texto */
  border-radius: 20px; /* Radio de borde para hacerlo redondeado */
  cursor: pointer; /* Cambiar el cursor a mano al pasar el ratón */
}


.custom-btn:hover {
  background-color: #0056b3; /* Cambiar el color de fondo al pasar el ratón */
}

.social-iconos {    
    margin-right: 20px;
    font-size: 50px; 
    color:rgb(15, 15, 105); 
    justify-content: space;
}

@media (max-width: 767px) {
    .tituloVideo {
        display:none
    }
    .subtituloDos{
        text-align: center;
    }
    .divZona{
        width: 100%;
        margin:30px auto;
    }
    .seccionMision {
        flex-direction: column;
        width: 100%;
        .subtituloMision{
            width: 100%;
            color: rgb(0, 0, 71);
            font-family: 'Lato', sans-serif;
        }
        
    }
    .sectionFoot {
        flex-direction: column;
        align-items: center;
    }

    .contenido-centro {
        text-align: center;
        order:2;
    }

    .sectionFoot div {
        margin-bottom: 15px;
        
    }
    .masInfo{
        flex-direction: column;
    }
    .botonesCargar{
        flex-direction: column;
        align-items: baseline;
    }
}