.body {
    background-image: linear-gradient(to top, #000047, #001357, #002267, #003177, #004087, #004e94, #005ca0, #006aab, #007ab5, #0089be, #0099c5, #00a8ca);
    background-repeat: no-repeat;
    background-size: cover;
}