/*Contaco*/
.social-iconos {    
    margin-right: 20px;
    font-size: 50px; 
    color:$colorfont-p;
}

@media (max-width: 767px) {
    .seguinos{
        width: map-get($anchos, ancho-90 );
        margin: auto;
        .redes{
            margin: auto;
            text-align: center;
        }
    }
}